@font-face {
	font-family: "RussoOne Regular";
	src: local("RussoOne Regular"), local("RussoOne-Regular"), url("../fonts/RussoOne-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #000;
	overflow-x: hidden;
}

.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main .content {
	display: flex;
	flex-direction: column;
}
.main .content .title {
	display: flex;
	flex-direction: row;
}
.main .content .title .txt:nth-child(1):hover:before, .main .content .title .txt:nth-child(1):hover:after {
	content: "Tic";
}
.main .content .title .txt:nth-child(2):hover:before, .main .content .title .txt:nth-child(2):hover:after {
	content: "Tac";
}
.main .content .title .txt:nth-child(3):hover:before, .main .content .title .txt:nth-child(3):hover:after {
	content: "Toe";
}
.main .content .title .txt:nth-child(4):hover:before, .main .content .title .txt:nth-child(4):hover:after {
	content: ".";
}
.main .content .title .txt {
	font-family: RussoOne Regular;
	color: #ffff;
	font-size: 10rem;
	margin-left: 2px;
	margin-right: 2px;
	outline: none;
	position: relative;
}
.main .content .title .txt:hover:before, .main .content .title .txt:hover:after {
	box-sizing: border-box;
	outline: none;
	position: absolute;
	transform: translate(-49%, -49%);
	z-index: -1;
}
.main .content .title .txt:hover:before {
	top: 49.5%;
	left: 49.5%;
	color: rgba(233, 30, 99, 0.8);
	animation: distort1 200ms linear infinite;
}
.main .content .title .txt:hover:after {
	top: 50.5%;
	left: 50.5%;
	color: rgba(3, 169, 244, 0.8);
	animation: distort2 200ms linear infinite;
}
@keyframes distort1 {
	0% {
		top: 49.5%;
		left: 49.5%;
	}
	12.5% {
		top: 49.5%;
		left: 50%;
	}
	25% {
		top: 49.5%;
		left: 50.5%;
	}
	37.5% {
		top: 50%;
		left: 50.5%;
	}
	50% {
		top: 50.5%;
		left: 50.5%;
	}
	62.5% {
		top: 50.5%;
		left: 50%;
	}
	75% {
		top: 50.5%;
		left: 49.5%;
	}
	87.5% {
		top: 50%;
		left: 49.5%;
	}
	100% {
		top: 49.5%;
		left: 49.5%;
	}
}
@keyframes distort2 {
	0% {
		top: 50.5%;
		left: 50.5%;
	}
	12.5% {
		top: 50%;
		left: 50.5%;
	}
	25% {
		top: 49.5%;
		left: 50.5%;
	}
	37.5% {
		top: 49.5%;
		left: 50%;
	}
	50% {
		top: 49.5%;
		left: 49.5%;
	}
	62.5% {
		top: 50%;
		left: 49.5%;
	}
	75% {
		top: 50.5%;
		left: 49.5%;
	}
	87.5% {
		top: 50.5%;
		left: 50%;
	}
	100% {
		top: 50.5%;
		left: 50.5%;
	}
}
.main .content .btn_sart {
	background-color: transparent;
	border: none;
	color: #ffff;
	font-family: RussoOne Regular;
	outline: none;
	padding: 12px 40px 10px;
	position: relative;
	font-size: 1.3rem;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.main .content .btn_sart:before, .main .content .btn_sart:after {
	border: 0 solid transparent;
	transition: all 0.3s;
	content: "";
	height: 0;
	position: absolute;
	width: 0px;
}
.main .content .btn_sart:before {
	border-top: 2px solid #ffff;
	right: 0;
	top: -4px;
}
.main .content .btn_sart:after {
	border-bottom: 2px solid #ffff;
	bottom: -4px;
	left: 0;
}
.main .content .btn_sart:hover {
	cursor: pointer;
}
.main .content .btn_sart:hover:before, .main .content .btn_sart:hover:after {
	width: 100%;
}
.main #cat {
	margin-left: -75px;
	margin-top: -16px;
	pointer-events: none;
}
.main #ctr_scene {
	opacity: 0;
	transition: 1s;
	transition-timing-function: ease-in;
	pointer-events: none;
}
.main canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
}
.main .close {
	transition: 1s;
	transition-timing-function: ease-in;
	opacity: 0;
	transform: translate(-50%, -50%, -50%);
	pointer-events: none;
}
.main .open {
	transition: 1s;
	transition-timing-function: ease-in;
	opacity: 1 !important;
	pointer-events: all;
}
.main .open canvas {
	pointer-events: all;
}
.main .open #cat2 {
	pointer-events: all;
	margin-top: -50px;
}
.main .open #cat2:hover {
	cursor: pointer;
}
.main #winner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000;
	transition: 1s;
	opacity: 0;
	pointer-events: none;
}
.main #winner .txt_w {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: RussoOne Regular;
	color: #ffff;
	text-transform: uppercase;
	font-size: 5rem;
	margin-left: 2px;
	margin-right: 2px;
	outline: none;
	position: relative;
}